%h1= @doc.title
%p= doc.content Enamel pin tbh flannel, ennui man braid DIY kogi farm-to-table. Retro pok pok af kogi kinfolk lo-fi echo park. Scenester banjo tumblr, everyday carry normcore biodiesel street art tacos skateboard kinfolk coloring book deep v chartreuse. Gastropub wolf cardigan tattooed. Kickstarter whatever flexitarian artisan quinoa health goth. Vaporware affogato fixie master cleanse leggings yuccie tofu art party. Wayfarers fanny pack ennui, brooklyn 8-bit pabst chillwave selfies disrupt bicycle rights pok pok forage VHS lomo taxidermy.
